.content {
    background-color: #F6F0E8;
    /* z-index: -1; */
}

.opacity {
    opacity: 0.5;
    filter: Alpha(opacity=50);
}
.header:after{
    content: "";
    display: block;
    clear: both;
}

.header {
    height: 150px;
    width: 500px;
    margin: 0 auto;
    /* z-index: 10; */
}

.header-title {
    float: left;
    height: 80px;
    width: 150px;
    font-size: 60px;
    margin: 40px auto 10px 10px;
    color: #8B7D6C;
}

.header-scrore {
    float: left;
    margin: 10px 10px auto 100px;
    height: 60px;
    width: 80px;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: #E2CCB2;
    border: 1px solid #E2CCB2;
    border-radius: 5px;
}

.score {
    float: left;
    text-align: center;
    color: white;
    background-color: #E2CCB2;
    width: 80px;
    margin: 10px 0 0 0;
    font-size: 20px;
    border: none;
}

.header-best {
    font-size: 20px;
    height: 60px;
    width: 80px;
    float: left;
    margin: 10px 10px auto auto;
    text-align: center;
    color: white;
    padding: 5px;
    background-color: #E2CCB2;
    border: 1px solid #E2CCB2;
    border-radius: 5px;
}

.best {
    width: 80px;
    float: left;
    font-size: 20px;
    border: none;
    margin: 10px 0 0 0;
    background-color: #E2CCB2;
    color: white;
    text-align: center;
}

.above-cell {
    clear: both;
    height: 50px;
    width: 500px;
    margin: 0 auto;
    /* z-index: 10; */
}

.above-line {
    width: 350px;
    margin: 10px auto;
    float: left;
    color: #695F53;
}

.newgame {
    width: 120px;
    height: 40px;
    /* float: left; */
    margin: 0px 0px auto 25px;
    background-color: #8B7D6C;
    color: white;
    font-size: 15px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.game-info {
    display: none;
    /* display: block; */
    width: 250px;
    height: 200px;
    margin: 0 auto;
    border: 10px solid #F6BDA1;
    border-radius: 10px;
    background-color: #F6F0E8;
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 100;
}

.game-message {
    width: 140px;
    height: 60px;
    /* border: 1px solid #F54522; */
    margin: 0 auto;
    padding: 20px 30px;
    color: rgb(255, 136, 0);
    font-size: 35px;
}

.game-choice {
    float: left;
    margin: 30px 20px;
}

.ok {
    /* margin: 50px auto 10px 10px; */
    width: 80px;
    height: 50px;
    color: #FA9461;
    font-size: 25px;
    background-color: rgb(238, 203, 185);
    border: 2px solid rgb(238, 203, 185);
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
    outline: none;
}

.restart {
    width: 90px;
    height: 50px;
    color: #FA9461;
    font-size: 25px;
    background-color: rgb(238, 203, 185);
    border: 2px solid rgb(238, 203, 185);
    border-radius: 5px;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
    outline: none;
}

p {
    width: 500px;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    color: #695F53;
}

hr {
    width: 500px;
    height: 1px;
    margin: 0 auto;
    background-color: #DED2C4;
    border: none;
}

a {
    /* color: #695F53; */
}

.cell {
    clear: both;
    width: 500px;
    height: 500px;
    border: 1px solid #BFAF9D;
    border-radius: 5px;
    background-color: #BFAF9D;
    margin: 0 auto;
    z-index: -1;
}

.cell-row {
    height: 125px;
    width: 500px;
}

.cell-grid {
    float: left;
    height: 95px;
    width: 95px;
    background-color: #D8C8B5;
    border-radius: 5px;
    margin: 13px 16px 12px 14px;
}


/**2*/

.two {
    color: #8B7D6C;
    background-color: #FFE3D1;
    font-size: 55px;
    text-align: center;
}


/**4*/

.four {
    color: #8B7D6C;
    background: #F6BDA1;
    font-size: 55px;
    text-align: center;
}


/**8*/

.eight {
    color: #8B7D6C;
    background-color: #FA9461;
    font-size: 55px;
    text-align: center;
}


/**16*/

.onesix {
    color: white;
    background-color: #FFC48A;
    font-size: 55px;
    text-align: center;
}


/**32*/

.threetwo {
    color: white;
    background-color: #FFA14D;
    font-size: 55px;
    text-align: center;
}


/**64*/

.sixfour {
    color: white;
    background-color: #F54522;
    font-size: 55px;
    text-align: center;
}


/**128*/

.onetwoeight {
    font-size: 55px;
    text-align: center;
    color: white;
    background-color: #d13617;
}


/**256*/

.twofivesix {
    background-color: #FFA54F;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-filter: drop-shadow(10px 10px 10px #FFA54F);
    /*Chrome,Safari,Opera*/
    filter: drop-shadow(5px 5px 5px 5px #FFE88C);
}


/**512*/

.fiveonetwo {
    background-color: #FF8C00;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-filter: drop-shadow(10px 10px 10px #FF8C00);
    /*Chrome,Safari,Opera*/
    filter: drop-shadow(5px 5px 5px 5px #FFE88C);
}


/**1024*/

.onezerotwofour {
    background-color: #FF7F50;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-filter: drop-shadow(10px 10px 10px #FF7F50);
    /*Chrome,Safari,Opera*/
    filter: drop-shadow(10px 10px 10px 10px #FF7F50);
}


/**2048*/

.twozerofoureight {
    background-color: #FF7F50;
    font-size: 35px;
    text-align: center;
    color: white;
    -webkit-filter: drop-shadow(10px 10px 10px #FF7F50);
    /*Chrome,Safari,Opera*/
    filter: drop-shadow(10px 10px 10px 10px #FF7F50);
}