html {
  /* background-color: #66CC99; */
  color:black;
}
body {
  margin: 0px;
  padding: 0px;
  /* font-family:Georgia,Helvetica,SimHei; */
  /* sans-serif,Helvetica,Georgia,SimHei; */
  font-family: "Lucide Grande", 'Lucida Sans Unicode', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Aril,sans-serif;
  font-size: 16px;
}
.root{
  margin: 0px;
  padding: 0px;
}
.main{
  /* border:1px solid black; */
  margin: 0px;
  padding: 0px;
  width: 100%;
  height:100%;
}
.nav{
  display: block;
  margin: 10px 0 0 150px;
  padding-top: 0px;
}
.nav ul {
  margin: 0px;  
  /* border:1px solid red; */
  list-style: none;
  width:100%;
  height:35px;
}
.nav li{
  list-style:none;
  height:30px;
  display: inline-block;
  margin-left: 10%;
  padding: 5px 10px;
  /* border:1px red solid; */
  border-radius: 5px;
  font-size: 17px;
}
.nav a{
  text-decoration: none;
  color:black;
  margin:0;
  padding: 0;
  display: inline-block;
  height:35px;
  /* border: 1px solid blue; */
}
.nav a:hover{
  color : #FF9933;
}
.banner {
  /* clear: both; */
  /* border:1px solid green; */
  margin:0;
  padding: 0;
  width: 100%;
  height: 2px;
  background-color: #FF9933;
}
.panel {
  width:700px;
  /* border:1px solid red; */
  margin:20px 0px 0px 250px;;  
}
