<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>

    <style>
        .modal {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, .8);
        }
        
        .show-modal .modal {
            display: block
        }
        
        .show-modal .container {
            -webkit-filter: blur(4px);
        }
    </style>

</head>

<body>
    <div class="page show-modal">
        <div class="container">主要内容</div>
        <div class="modal">浮层</div>
    </div>


</body>


</html>